*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
}

.view_card{
    color:#252525;
    width:auto;
    height:auto;
    border: 1px solid black;
}

.card{
    /* background-color: wheat; */
    color:hsl(0, 0%, 15%);
    border: 1px solid black;
}

.logo{
    position: absolute;
    left:19px;
    top:0;
    width:250px;
    height: 250px;
    object-fit: fill;
}

.stupic{
    float: right;
    height:220px;
    width:180px;
    object-fit: fill;
    border: 2px solid black;
    padding: 2px;
    margin-top: -220px;
    margin-right: 2rem;
}

.name{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(79, 122, 253, 0.792); */
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

#register{
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    color:#252525;
    text-decoration: underline;
    margin-bottom: 4rem;
}

.name1{
    /* text-align: center; */
    font-size: 32px;
    font-weight: 900;
    color:#252525;
    text-shadow: 0px 2px 2px #252525;
    /* width:100%; */
}

.name2{
    font-size: 26px;
    color:#252525;
    font-weight: 700;
    /* text-align: center; */
    /* width:100%; */
}

.details p{
    margin-left: 20rem;
    margin-bottom: 1rem;
    font-size: 26px;
    font-weight: 900;
}